<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>ログイン</title>

    <style>
        body {
            width: 500px;
            margin: 40px auto;
            font-family: sans-serif;
        }

        input {
            width: 100%;
            margin-bottom: 10px;
        }

        button {
            margin-top: 10px;
        }
    </style>
</head>

<body>

<h1>ログイン</h1>

<form id="loginForm">

    <p>Username</p>
    <input type="text" id="username">

    <p>Password</p>
    <input type="password" id="password">

    <button type="submit">ログインします</button>

</form>

<p>
    アカウントお持ちでないですか?
    <a href="/register">登録</a>
</p>

<script>

document.getElementById("loginForm").addEventListener("submit", async function(e){

    e.preventDefault();

    const username = document.getElementById("username").value;
    const password = document.getElementById("password").value;

    const response = await fetch("/api/auth/login",{
        method:"POST",
        headers:{
            "Content-Type":"application/json"
        },
        body:JSON.stringify({
            username,
            password
        })
    });

    const result = await response.json();

    if(response.ok){

        localStorage.setItem("token", result.token);

        alert("ログインしました");

        location.href = "/";

    }else{

        alert(result.error || "Login Failed");

    }

});

</script>

</body>
</html>