<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>登録</title>

    <style>
        body {
            width: 500px;
            margin: 40px auto;
            font-family: sans-serif;
        }

        input {
            width: 100%;
            margin-bottom: 10px;
        }

        button {
            margin-top: 10px;
        }
    </style>
</head>

<body>

<h1>登録</h1>

<form id="registerForm">

    <p>Username</p>
    <input type="text" id="username">

    <p>Password</p>
    <input type="password" id="password">

    <button type="submit">登録します</button>

</form>

<p>
    アカウントお持ちですか?
    <a href="/login">ログイン</a>
</p>

<script>

document.getElementById("registerForm").addEventListener("submit", async function(e){

    e.preventDefault();

    const username = document.getElementById("username").value;
    const password = document.getElementById("password").value;

    const response = await fetch("/register",{
        method:"POST",
        headers:{
            "Content-Type":"application/json"
        },
        body:JSON.stringify({
            username,
            password
        })
    });

    const result = await response.json();

    if(response.ok){
        alert("Register Success");
        location.href="/login";
    }else{
        alert(result.error || "Register Failed");
    }

});

</script>

</body>
</html>